{% extends "elearning_academy/logged_in.html" %}

{%block title %}Discussion Forum{% endblock %}

{% block cssLinks %}
<link href="{{STATIC_URL}}discussion_forum/css/forum.css" rel="stylesheet">
{% endblock %}

{% block jsLinks %}

<script type="text/jsx" src="{{STATIC_URL}}discussion_forum/js/forum.jsx"></script>
<script type="text/jsx" src="{{STATIC_URL}}discussion_forum/js/admin.jsx"></script>


<script type="text/javascript">

</script>

{% endblock %}



{% block body %}

<div id="admin" class="col-md-8">

</div>

{% endblock %}
