{% extends "elearning_academy/logged_in.html" %}

{%block title %}Discussion Forum{% endblock %}

{% block cssLinks %}
<link href="{{STATIC_URL}}discussion_forum/css/forum.css" rel="stylesheet">
{% endblock %}

{% block jsLinks %}

<script type="text/jsx" src="{{STATIC_URL}}discussion_forum/js/mixins.jsx"></script>
<script type="text/jsx" src="{{STATIC_URL}}discussion_forum/js/forumentities.jsx"></script>
<script type="text/jsx" src="{{STATIC_URL}}discussion_forum/js/forum.jsx"></script>

<script type="text/javascript">
</script>
<script type="text/jsx">
    /** @jsx React.DOM */
    React.renderComponent(
        <Forum id='1' />, document.getElementById('forum')
    );
</script>
{% endblock %}



{% block body %}
<div id="forum" class="col-md-10">

</div>

{% endblock %}
