/******** General CSS *********/
.text-small {
    font-size: 12px;
}

.forum-text-mute {
    font-size: 12px;
    color: #8f8f8f;
    margin-right: 20px;
}

.no-padding {
    padding: 0px !important;
}

/******** Content Related CSS *********/
.content {
    padding: 7px 14px 5px 10px;
    position: relative;
}

.content > p {
    text-align: justify;
    margin: 0px;
}

.content-meta-info-container {
    margin-top: 8px;
}

.content-meta-btn {
    position: absolute;
    left: -15px;
    top: -1px;
    width: 10px;
}

.content-meta-btn > button {
    border-radius: 0px !important;
    padding: 1px 3px !important;
}

.content-meta-btn > ul > li > a:hover {
    cursor: pointer;
}

.content-meta-info {
    font-size: 10px;
    padding: 0px;
    overflow: visible;
    color: #9f9f9f;
}

.content-meta-info > li {
    list-style-type: none;
    width: auto;
    padding: 2px 20px 5px 0px;
    float: left;
    margin:0px;
}

.content-form {
    overflow:auto;
    /*background: #f5f5f5;*/
    position: relative;
}

.content-form-btn {
    margin: 5px 20px 5px 2px;
}

.content-form-close {
    font-size: 30px;
    display: block;
}

.reply-list {
    margin-left: 40px;
}

.reply-list > table {
    margin-bottom:  0px !important;
}

.reply-list > table > tbody > tr > td {
    padding: 0px;
}

.reply {
    font-size: 12px;
    border-top: 1px solid #e5e5e5 !important;
    /*background: #f5f5f5;*/
}

.comment-list {
    margin-left: 20px;
}

.comment-list > tbody > tr > td {
    padding: 0px;
}

.comment {
    font-size: 13px !important;
    /*background: #fafafa;*/
    padding-bottom: 5px;
    border-top: 1px solid #e5e5e5 !important;
}

.thread-panel-body {
    padding-top: 0px;
}

.thread {
    padding: 5px;
}

.forum-delete-info {
    margin-top: 5px;
    margin-bottom: 5px;
}
/******** Thread Related CSS *********/
#thread-submit-form {
    overflow: auto;
}

#thread-submit-form > h4 {
    margin-top:0px;
    margin-bottom: 15px;
}

.thread-heading {
    width: 100%;
}

.thread-vote-icon {
    width: 30px;
    padding: 10px;
    padding-top: 0px;
    vertical-align: text-top;
}

.thread-meta-info {
    margin-top: 8px;
    padding-top: 8px;
    font-size: 12px;
}

.vote-object:hover {
    cursor: pointer;
}

.wmd-input {
    min-height: 120px !important;
}


/********** Thrad Tag ***************/

.thread-subscribe-link:hover {
    cursor: pointer;
}

.thread-tag-list {
    padding-bottom: 5px;
    border-bottom: 1px solid hsl(0, 0%, 87%);
}

.thread-tag {
    display: block;
    float: left;
    margin: 5px 5px 2px 5px;
}

.thread-tag-text {
    margin-right: 10px;
}

.thread-tag-add {
    margin-top: 4px;
    font-size: 10px;
    padding: 4px;
    padding-top: 2px;
}

.thread-tag > a {
    z-index: 2;
}

.thread-tag > a:hover {
    cursor: pointer;
}

.forum-tags > li > a:hover {
    cursor: pointer;
}

.thread-tag-list-label {
    float:left;
    margin: 5px 10px 5px 0px;
    font-weight: bold;
    color: #4f4f4f;
}

.thread-list {
    position: relative;
}

.sort-orders {
    position: absolute;
    right: 40px;
    top: 5px;
}


/** Forum Related */
.forum-heading {
    overflow: visible;
    min-height: 50px;
}

.forum-heading > h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}




/**************** Admin Panel ******************/
#forum-panel-container {
    margin-top: 40px;
}

.forum-a-link:hover {
    cursor: pointer;
}

.content-left {
    text-align: right;
}

.forum-setting > tbody > tr > td {
    border: 0px;
}

.tag-container {
    overflow: auto;
}

.admin-forum-tag {
    margin-bottom: 15px;
}

#forum-tags-container > h4 {
    margin-top: 30px;
    padding-bottom: 5px;
    border-bottom: 1px solid #dfdfdf;
}

.forum-user-list {
    margin-top: 30px;
}

.forum-admin-user-setting {
    padding-top: 15px !important;
}

.review-content-btn {
    width: auto;
}
