.question {
    overflow: auto;
}

.question .question-text {
    margin-bottom: 10px;
}

.no-padding {
    padding: 0px 0px 0px 0px;
}

.quiz-text-mute {
    font-size: 12px;
    color: #8f8f8f;
}

.quiz-right-margin {
    margin-right: 10px;
}

.question-submit, .quiz-edit, .question-module-edit {
    overflow: auto;
    margin-bottom: 10px;
}

.quiz-table tbody tr td {
    vertical-align: middle;
}

.confirm-delete {
    width: 20%;
}

.alert .link-normal-text {
    color: inherit;
}