{% extends "elearning_academy/logged_in.html" %}

{%block title %}Quiz{% endblock %}

{% block cssLinks %}
<link href="{{STATIC_URL}}quiz/css/quiz.css" rel="stylesheet">
{% endblock %}

{% block jsLinks %}
<script src="{{STATIC_URL}}elearning_academy/js/react.js"></script>
<script src="{{STATIC_URL}}elearning_academy/js/JSXTransformer.js"></script>

<script type="text/jsx" src="{{STATIC_URL}}quiz/js/quiz.jsx"></script>

{% endblock %}



{% block body %}

<div id="quiz" class="col-md-8 col-md-offset-2">

</div>

{% endblock %}
