{% extends "elearning_academy/logged_in.html" %}

{% block title %}{{MY_SITE_NAME}}{% endblock %}
{% block cssLinks %} {% endblock %}

{% block body %}
    <div class='row'>
        <p style="text-align:justify">Hi all, this website is currently in development phase. You may face some technical issue or bug. It will be very helpful for all if you submit bug description along with screenshot to the following contacts. We will try to fix it up as soon as possible.</p>
        <hr/>

        <div class="row">
            <address class='col-md-2'>
                <span class='lead'>Alankar Saxena</span><br/>
                <span class='muted'>alankar111@gmail.com</span>
            </address>
        </div>

        <div class="row">
            <address class='col-md-2'>
                <span class='lead'>Aakash Rao</span><br/>
                <span class='muted'>aakashns.sky@gmail.com</span>
            </address>
        </div>

        <div class="row">
            <address class='col-md-2'>
                <span class='lead'>Vinayak Gagrani</span><br/>
                <span class='muted'>gagrani.vinayak@gmail.com</span>
            </address>
        </div>

        <div class="row">
            <address class='col-md-2'>
                <span class='lead'>Saif Hasan</span><br/>
                <span class='muted'>saifhhasan@gmail.com</span>
            </address>
        </div>
    </div>
{% endblock %}
