{% extends "notification/root.html" %}

{% block title %}Change Password {% endblock %}

{% block cssLinks %}{% endblock %}

{% block email_body %}
<h2> Hi {{username}} ! </h2>
Please click on the link below to update your password for {{MY_SITE_NAME}}<br />
<a href="{{MY_SERVER}}{% url 'changepassword' activation_key %}" target="_blank">
{{MY_SERVER}}{% url 'changepassword' activation_key %}
</a> <br />
If you have not requested a password update from us then please ignore this mail. <br />
Thanks <br />
{{MY_SITE_NAME}}
{% endblock %}
