{% extends "elearning_academy/root.html" %}

{% block body %}

<div class="row">
    <div id="error" class="col-md-4 col-md-offset-4">
        {% if error %}
        <div class="alert alert-danger">
            <strong>
                {% if error_list %}
                    <ul>
                    {% for m in error_message %}
                        <li>{{ m }}</li>
                    {% endfor %}
                    </ul>
                {% else %}
                    {{error_message}}
                {% endif %}
            </strong>
        </div>
        {% endif %}
        {% if info %}
        <div class="alert alert-success">
            <strong>
                {{info_message}}
            </strong>
        </div>
        {% endif %}
    </div>
    <div id="content" class="col-md-4 col-md-offset-4">
        <ul id="tabs" class="nav nav-tabs nav-justified" data-tabs="tabs">
            <li class="{{login}}"><a href="#login" data-toggle="tab">Log In</a></li>
            <li class="{{signup}}"><a href="#signup" data-toggle="tab">Sign Up</a></li>
        </ul>
    </div>
    <div id="my-tab-content" class="tab-content col-md-4 col-md-offset-4">
        <div class="tab-pane {{login}}" id="login">
            <form class="form-signin" action="{% url 'login' %}{% if next %}?next={{next}}{%endif%}" method="post"> {% csrf_token %}
                {{ login_form.username }}
                {{ login_form.password }}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
                <div id="forgot-password">
                    <a  href="{% url 'forgotpassword' %}">Forgot Password?</a>
                </div>
            </form>
        </div>
        <div class="tab-pane {{signup}}" id="signup">
            <form class="form-signin" action="{% url 'signup' %}" method="post"> {% csrf_token %}
                {{ reg_form.username }}
                {{ reg_form.first_name }}
                {{ reg_form.last_name }}
                {{ reg_form.email}}
                {{ reg_form.password }}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
            </form>

        </div>
    </div>
</div>

{% endblock %}

{% block jsScript %}
<script type="text/javascript">
    window.onload = function() {$("#id_username").focus();};
</script>
{% endblock %}

{% block cssLinks %}

<style type="text/css">
    #error {
        padding-top: 20px;
        min-height: 100px;
    }

    .alert {
        margin-bottom: 20px;
    }

    #main-container {
        padding-top: 0px;
    }

    #forgot-password {
        margin-top: 10px;
    }

    .tab-pane {
        padding-top: 10px;
        border: 1px solid #ddd;
        border-top: 0px;
    }

    .form-signin {
      max-width: 330px;
      padding: 15px;
      margin: 0 auto;
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
      margin-bottom: 10px;
    }
    .form-signin .checkbox {
      font-weight: normal;
    }
    .form-signin .form-control {
      position: relative;
      font-size: 16px;
      height: auto;
      padding: 10px;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
    }
    .form-signin .form-control:focus {
      z-index: 2;
    }
    .form-signin input {
      margin-bottom: 10px;
    }
    .form-signin select {
      margin-bottom: 20px;
    }
</style>

{% endblock %}
